/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/background.png");
    color: #333;
}
/* Main Content Styles */
main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
#appointmentForm {
    text-align: center;
}

#appointmentForm .form-group {
    margin-bottom: 15px;
}

#appointmentForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#appointmentForm input, #appointmentForm select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#appointmentForm button {
    background-color: #265073;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#appointmentForm button:hover {
    background-color: #2D9596;
}

/* Message Styles */
.message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}
