/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #F1FADA;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: #265073;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin-bottom: 0.5em;
}

header p {
    margin-bottom: 1em;
}

header button {
    background-color: #2D9596;
    color: #F1FADA;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

header button:hover {
    background-color: #ff6b81;
}

header form {
    display: inline-block;
}

header form button {
    background-color: #2D9596;
}

header button:last-child {
    background-color: #2D9596;
}

header button:last-child:hover {
    background-color: #9AD0C2;
    color: #265073;
}

/* Section Styling */
section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 1em;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #265073;
    color: #fff;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 600px) {
    table, th, td {
        display: block;
    }
    th {
        background-color: transparent;
        color: #333;
        font-weight: bold;
    }
    td {
        border: none;
        padding: 0.5em 0;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1em;
        font-weight: bold;
        text-align: left;
    }
}
